.grid {
    position: absolute;
    width: 560px;
    height: 300px;
    border: 1px solid black;
    margin-top: 80px;
}

.block {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: rgb(136, 23, 62);
    
}

.user {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: rgb(118, 106, 26);

}

.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: rgb(41, 77, 11);
}